/* HEADER */

.header__container {
    width: 100%;
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__container-home{
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.phone:hover{
    transition: 0.7s ease all;
    transform: rotate(360deg);

}

.where:hover{
    transition: 0.2s;
    filter: invert(65%) sepia(97%) saturate(4991%) hue-rotate(1deg) brightness(105%) contrast(103%);
}


.header__icon, .header__logo{
    height: 30px;
}

@media (min-width: 768px) {
    .header__container {
        padding: 30px 50px;
    }
    .header__icon, .header__logo{
        height: 47px;
    }
}

/*POP UP*/

.pop-up__container{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 99;
    top: 0;
    background-color: black;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}