/* HEADER */

.header__container {
    width: 100%;
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__container-home{
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.phone{
    filter: invert(18%) sepia(96%) saturate(2442%) hue-rotate(194deg) brightness(104%) contrast(104%);

}

.phone:hover{
    transition: 0.7s ease all;
    transform: rotate(360deg);

}

.where:hover{
    transition: 0.2s;
    filter: invert(65%) sepia(97%) saturate(4991%) hue-rotate(1deg) brightness(105%) contrast(103%);
}


.header__icon, .header__logo{
    height: 30px;
}

@media (min-width: 768px) {
    .header__container {
        padding: 30px 50px;
    }
    .header__icon, .header__logo{
        height: 47px;
    }
}

/*POP UP*/

.pop-up__container{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 99;
    top: 0;
    background-color: black;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pop-up__close-container{
    background-color: white;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-right: 30px;
    cursor: pointer;
}

.pop-up__close-bar{
    display: block;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    margin-bottom: 7px;
    background-color: #AAAAAA;
    z-index: 99;
    margin-bottom: -3px;


}

.first-bar{
    transform:  rotate(45deg)
}

.second-bar{
    transform: rotate(-45deg);
 
}

.pop-up__text-container{
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 30px;

}

.pop-up__title{
    color: #0063BC;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 41px;
    padding-bottom: 40px;
    text-align: center;
}

.pop-up__text{
    color: black;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    line-height: 1.3;
    padding-bottom: 15px;
    
}

.pop-up__text-change-color{
    color: #0063BC;
}

.pop-up__form{
    display: flex;
    flex-direction: column;
}

.pop-up__form-input{
    border-color: #777777;
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 8px;
}

.pop-up__form-checkbox{
    padding: 10px 0px 40px 0px;   
    color:#777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.pop-up__form-button{
    border-style: solid;
    border-color: #FF6A00;
    background-color: #FF6A00;
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

@media (min-width: 768px) {
    .pop-up__close-container{
        background-color: white;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
        margin-right: 50px;
    }
    .pop-up__text-container{
        background-color: white;
        border-radius: 100%;
        height: 580px;
        width: 580px;
    }

}

@media (min-width: 1200px) {
    .pop-up__close-container{

        margin-right: 150px;
    }
}

.none{
    display:none;
}

/*MAIN*/

.main__container{
    display: flex;
    flex-direction: column;
}

.main__hire-today--background{
    width: 100%;
    height: 550px;
    background-image: url(./images/hiretoday.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.main__hire-today--text{
    margin: 0px 30px 30px 30px;
    color: #0063BC;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 35px;
}

.main__hire-today--text-background{
    background-color: white;
    padding: 10px 30px 10px 10px;
}

.main__hire-today--button{
    margin: 30px 0px 50px 30px;
    border: 4px solid;
    border-color: white;
    background-color: #0063BC;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    max-width: 200px;
    font-size: 16px;
    text-align: center;
}

.main__hire-today--button:hover{
    border-color: #0063BC;
    background-color: white;
    color: #0063BC;
}

.main__customers--background{
    width: 100%;
    height: 550px;
    background-image: url(./images/customers.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.main__customers--button{
    margin: 30px 30px 50px 30px;
    border: 4px solid;
    border-color: #FF6A00;
    background-color: white;
    text-transform: uppercase;
    color: #FF6A00;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    max-width: 330px;
    text-align: center;
}

.main__customers--button:hover{
    border-color: white;
    background-color:#FF6A00;
    color: white;
}

@media (min-width: 768px) {
    .main__hire-today--text{
        margin: 0px 30px 40px 80px;
        font-size: 60px;
    }

    .main__hire-today--button{
        margin: 30px 0px 80px 80px;
        max-width: 300px;
    }
    .main__customers--button{
        margin: 30px 0px 80px 80px;
    }
}

@media (min-width: 1200px) {
    .main__container{
        display: flex;
        flex-direction: row;
    }

    .main__hire-today--background{
        height: calc(100vh - 107px);
        width: 50vw;
        filter: invert(18%) sepia(103%) saturate(280%) hue-rotate(189deg) brightness(40%) contrast(152%)opacity(0.9);
    }

    .main__hire-today--background:hover{
        filter: none;
    }
    
    .main__hire-today--text{
        margin: 0px 30px 40px 100px;
    }

    .main__hire-today--button{
        margin: 30px 0px 100px 100px;
        padding: 15px;
        
    }
    .main__customers--background{
        height: calc(100vh - 107px);
        width: 50vw;
        filter: invert(18%) sepia(103%) saturate(280%) hue-rotate(189deg) brightness(30%) contrast(152%)opacity(0.9);
    }
    .main__customers--background:hover{
        filter: none;
    }
    .main__customers--button{
        margin: 30px 0px 100px 100px;
        padding: 15px;
    }
}

/* CUSTOMERS */

.customers__hero{
    width: 100%;
    height: 550px;
    background-image: url(./images/herocustomers.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.customers__hero-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 60px;
    color:white;
    text-align: center;
    padding: 30px;
}

.customers__hero-title--changed{
    font-style: italic;
    font-weight: 400;
}

.customers__hero-button{
    margin: 30px 0px 80px 0px;
    border: 4px solid;
    border-color: white;
    background-color: #0063BC;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    max-width: 300px;
    font-size: 16px;
    text-align: center;
}

.customers__hero-button:hover{
    border-color: #0063BC;
    background-color: white;
    color: #0063BC;
}


@media (min-width: 768px) {
    .customers__hero{
        width: 100%;
        height: calc(100vh - 107px);
        background-image: url(./images/herocustomers.png);
    }
    
    .customers__hero-title{
        font-size: 80px;
    }
    
    .customers__hero-button{
        padding: 15px;
        width: 250px;
        font-size: 17px;
        margin-bottom: 150px;
    }
}

.customers__canals{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.customers__canals-text{
    padding: 30px 30px 60px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: center;
    max-width: 900px;
    line-height: 1.3;
}

.customers__canals-text--changed{
    color: #0063BC;
    font-weight: 600;
    font-size: 20px;
}

.customers__canals-types{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.customers__canals-types--subject{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customers__canals-types--subject-image{
    height: 80px;
    padding: 0px 50px;
}

.customers__canals-types--subject-text{
    padding: 30px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
}

@media (min-width: 768px) {
    .customers__canals-text{
        font-size: 22px;
    }
    
    .customers__canals-text--changed{
        font-size: 22px;
    }
    
    .customers__canals-types--subject-image{
        height: 100px;
    }

    .customers__canals-types--subject-text{
        font-size: 18px;
    }    
}

.customers__bar-contact{
    background-color: #0063BC;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px;
    justify-content: center;
    align-items: center;
}

.customers__bar-contact--email, .customers__bar-contact--phone{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    margin:0px
}
.customers__bar-contact--email{
    padding-right: 0px;
}

.customers__bar-contact-icon{
    height: 25px;
    padding: 0px 10px 0px 0px;
    
}

.bar-contact-phone{
    filter: invert(100%) sepia(100%) saturate(19%) hue-rotate(300deg) brightness(104%) contrast(109%);
    margin-left: 20px;
}

.customers__bar-contact-text{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
  
}


@media (min-width: 768px) {
    .customers__bar-contact--email, .customers__bar-contact--phone{
        padding: 0px 40px
    }
    
    .customers__bar-contact-icon{
        height: 30px;
    }
    
    .customers__bar-contact-text{
        font-size: 22px;
        padding: 0px 10px
    }  
}

.customers__commercial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.customers__commercial-text{
    padding: 60px 30px 40px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: center;
    max-width: 900px;
    line-height: 1.3;
}

.customers__commercial-text--changed{
    color: #0063BC;
    font-weight: 600;
    font-size: 20px;
}

.customers__commercial-button{
    margin: 30px 0px 80px 0px;
    border: 4px solid;
    border-color:#FF6A00;
    background-color: white;
    text-transform: uppercase;
    color:#FF6A00;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    max-width: 300px;
    font-size: 16px;
    text-align: center;
}

.customers__commercial-button:hover{
    border-color: #FF6A00;
    background-color: #FF6A00;
    color: white;
}

@media (min-width: 768px) {
    .customers__commercial-text{
        font-size: 22px;
    }
    
    .customers__commercial-text--changed{
        font-size: 22px;
    }

    .customers__commercial-button{
        padding: 15px;
        width: 250px;
        font-size: 17px;
        margin-bottom: 150px;
    }
  
}

.customers__footer-container{
    background-color: #DCDCDC;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}

.footer__logo{
    height: 40px;
    margin-bottom: 10px;
}

.customers__footer-links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.customers__footer-links-text{
    color: #858585;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    text-decoration: underline;
    padding: 0px 0px 10px;
    text-align: center;
}

@media (min-width: 768px) {
    .customers__footer-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 25px;
        justify-content: space-between;
        align-items: center;
        padding: 10px 100px;
    }
    
    .footer__logo{
        height: 50px;
        margin: 0px;
    }
    
    .customers__footer-links-text{
        color: #858585;
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        text-decoration: underline;
        padding: 0px 10px;
    }
}

@media (min-width: 1200px) {
    .customers__footer-container{
        padding: 10px 140px;
        margin-bottom: 86px;
    }
}

.customers__contact{
    position: relative;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
}

.customers__contact-text{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 1.3;
    padding-bottom: 15px;
}

.customers__contact-text--changed{
    color: #0063BC;
    font-weight: 600;
}

.customers__contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customers__contact-form--inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customers__contact-form-input{
    border: 4px solid;
    border-color:#DCDCDC;
    background-color: #DCDCDC;
    text-transform: uppercase;
    color:#858585;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    width: 170px;
    font-size: 16px;
    text-align: start;
}

.customers__contact-form-checkbox{
    color: #858585;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    padding: 15px 25px;

}
.customers__contact-form-checkbox--changed{
    text-decoration: underline;
    color: #0063BC;
}

.customers__contact-form-button{
    border: 4px solid;
    border-color:#FF6A00;
    background-color: #FF6A00;
    text-transform: uppercase;
    color:white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    width: 200px;
    font-size: 16px;
    text-align: center;
}

@media (min-width: 768px) {
    .customers__contact{
        justify-content: space-between;
        align-items: center;
    }
    .customers__contact-form{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
    }
    
    .customers__contact-form--inputs{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .customers__contact-form-input{
        margin: 0px 25px;
    }
}

@media (min-width: 1200px) {
    .customers__contact{
        background-color: white;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 25px;
        justify-content: space-between;
        align-items: center;
        padding: 20px 100px;
        position: fixed;
        bottom:0;
        box-shadow: 10px 20px 60px rgba(0, 0, 0, 0.16);  
    }

    .customers__contact-form{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .customers__contact-text{
        color: black;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        text-align: start;
        max-width: 900px;
        line-height: 1.3;
        padding: 0px;
    }

    .customers__contact-text--changed{
        color: #0063BC;
        font-weight: 600;
    }

    .customers__contact-form--inputs{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .customers__contact-form-input{
        border: 4px solid;
        border-color:#DCDCDC;
        background-color: #DCDCDC;
        text-transform: uppercase;
        color:#858585;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
        width: 200px;
        font-size: 16px;
        text-align: start;
    }

    .customers__contact-form-checkbox{
        color: #858585;
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        padding: 0px 25px;

    }
    .customers__contact-form-checkbox--changed{
        text-decoration: underline;
        color: #0063BC;
    }

    .customers__contact-form-button{
        border: 4px solid;
        border-color:#FF6A00;
        background-color: #FF6A00;
        text-transform: uppercase;
        color:white;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
        width: 200px;
        font-size: 16px;
        text-align: center;
    }
}

/* HIRE TODAY */

.hire-today__hero{
    width: 100%;
    height: 550px;
    background-image: url(./images/herohiretoday.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: start;
}

.hire-today__hero-text-container{
    padding: 30px;

}

.hire-today__hero-title{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

.hire-today__hero-title--changed{
    text-transform: uppercase;
    font-weight: 600;

}

.hire-today__hero-subtitle{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.hire-today__hero-text{
    margin: 20px 0px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 1.3;
}

.hire-today__hero-text-background{
    background-color: white;
    padding: 10px 30px 10px 0px;
}

.hire-today__hero-text--changed{
    font-weight: 600;
}

.hire-today__hero-button{
    border: 4px solid;
    border-color: white;
    background-color: #0063BC;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    width: 200px;
    font-size: 16px;
    text-align: center;
    margin-top: 40px;
}

.hire-today__hero-contact{
    display: none;
}

@media (min-width: 768px){
    .hire-today__hero{
        width: 100%;
        height: calc(100vh - 107px);
        padding: 100px 50px 0px 80px; 
    }
    .hire-today__hero-title{
        font-size: 50px;
    }
}

@media (min-width: 1200px){
    .hire-today__hero{
        padding: 100px 100px 0px 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .hire-today__hero-title{
        font-size: 60px;
    }
    
    .hire-today__hero-subtitle{
        font-size: 35px;
        padding-top: 15px;
    }
    
    .hire-today__hero-text{
        font-size: 35px;
        
    }



    .hire-today__hero-contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 50px;
        margin-top: 30px;
        width: 400px;
    }
    .hire-today__hero-contact--title{
        background-color: #0063BC;
        border-radius: 50px 50px 0px 0px;
        padding: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: white;
        width: 400px;
    }
    .hire-today__hero-contact--text{
        padding: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        color: #0063BC;
        max-width: 250px;
    }
    .hire-today__hero-contact--form{
      display: flex;
      flex-direction: column;  
      align-items: center;
    }
    .hire-today__hero-contact--form--inputs{ display: flex;
    flex-direction: column;  
    text-align: center;
    align-items: center;
    padding: 5px;
    
    }
    .hire-today__hero-contact--form-label{
        padding-bottom: 5px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        text-align: center;
        color: black;
    }
    .hire-today__hero-contact--form-input{
        border-color: #777777;
        border-style: solid;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        padding: 8px;
        width: 230px;
    }
    .hire-today__hero-contact--form-checkbox{
        padding: 10px 0px 10px 0px;   
        color:#777777;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
    }
    .hire-today__hero-contact--form-button{
        border-style: solid;
        border-color: #FF6A00;
        background-color: #FF6A00;
        color: white;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        width: 245px;
        margin-bottom: 40px;
    }
}

.hire-today__bar-packs{
    width: 100%;
    background-image: url(./images/bar.png) ;
    filter: brightness(0.8);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}
.hire-today__bar{
    border: 4px solid;
    border-color: white;
    background-color: #0063BC;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    width: 200px;
    font-size: 16px;
    text-align: center;
    margin:40px 0px;
}

.hire-today__packs{
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.hire-today__packs-card{
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.16); 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}
.hire-today__packs-card--text-containers{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.hire-today__packs-card-main{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.hire-today__icons-text-container{
    display: flex;
    flex-direction: column;
}

.hire-today__packs-card--icon{
    margin: 20px 20px;
    height: 60px;
}
.hire-today__packs-card--text{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 600;  
    padding: 10px 0px; 
}
.hire-today__packs-card-second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.hire-today__packs-card--subtext{
    color: #434343;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
}

.hire-today__packs-card--button{
    border: 4px solid;
    border-color: #0063BC;
    background-color: #0063BC;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    width: 200px;
    font-size: 16px;
    text-align: center;
    margin:20px 0px;
}
.hire-today__packs--more{
    background-color: white;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 10px 2px 50px rgba(0, 0, 0, 0.6);
    margin-top: -50px;
    align-self: center;
}

.hire-today__more-bar{
    display: block;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    margin-bottom: 7px;
    background-color: #AAAAAA;
    z-index: 99;
    margin-bottom: -3px;
}

.hire-today__packs--more > span:first-child{
    transform:  rotate(90deg)
}

.hire-today__packs--less{
    background-color: white;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 10px 2px 50px rgba(0, 0, 0, 0.6);
    margin-top: -50px;
    align-self: center;
}

.hire-today__packs--less > span:first-child{
    display: none;
}

.none{
    display: none;
}

@media (min-width: 768px){
    .hire-today__packs-card{
        padding: 0px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 30px 60px;
        min-height: 130px;
    }   


    .hire-today__packs-card--icon{
        margin: 20px 20px 20px 0px;
        height: 60px;
    }
    .hire-today__packs-card--text {
        margin:20px
    }
}

@media (min-width: 1200px){
    .hire-today__icons-text-container{
        flex-direction: row;
        flex-wrap: wrap;
        padding: 25px;
        justify-content: space-between;
        width: 100%;
    }
}